<form action="/create" method="POST">
  <h3>{{title}}</h3>

  <div class="input-field">
    <label>Book Author</label>
    <input type="text" name="author">
  </div>

  <button class="btn waves-effect waves-light" type="submit" class="btn">ADD Book</button>
</form>